.button-filled {
    height: 40px;
    width: fit-content;

    padding: 0px 24px;

    background-color: var(--interaction-00);
    color: var(--grayscale-00);

    border: 1px solid var(--interaction-00);
    border-radius: 100px;

    cursor: pointer;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.button-filled:hover {
    background-color: var(--interaction-50);
    
    border: 1px solid var(--grayscale-00);
}