.card-01 {
    background-color: var(--grayscale-250);
    
    border: 1px solid var(--grayscale-200);
    border-radius: 16px;

    overflow: hidden;

    cursor: pointer;
    
    height: auto;

    /* display: flex;
    flex-direction: column;
    row-gap: 0px; */

    width: 100%;
    height: 100%;
}

.card-01:hover {
    border: 1px solid var(--interaction-00);
}

.card-01__background {
    width: 100%;
    height: 70%;
}

.card-01__information {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding: 16px;
}

.information__title {
    
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;


    margin: 0px;
    padding: 0px;
}

.information__description {

    font-size: 14px;
    line-height: 21px;

    color: var(--grayscale-100);

    margin: 0px;
    padding: 0px;
}