.top-app-bar {
    width: auto;
    height: 64px;

    padding: 0px 40px;

    background-color: var(--grayscale-250);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 80px);
    z-index: 999;

    border-bottom: 1px solid var(--grayscale-200);
  }
  