@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --background-color: #1F1F1F;
  
  --grayscale-00: #FCFCFC;
  --grayscale-50: #F8F8F8;
  --grayscale-100: #E4E4E4;
  --grayscale-150: #C4C4C4;
  --grayscale-200: #383838;
  --grayscale-250: #1C1C1C;

  --interaction-00: #0A91FF;
  --interaction-50: #007BE0;
}

body {
  margin: 0;
  font-family: 'Roboto';
  color: var(--grayscale-00);
  font-weight: 400;

  background-color: var(--background-color);

}

::-webkit-scrollbar {
  background-color: var(--background-color);

  border-left: 1px solid var(--grayscale-200);

  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grayscale-200);

  border-radius: 100px;
}